name: debug-adapter-registry
on:
  pull_request:
    paths:
      - '.github/workflows/ci.yml'
      - 'registry/**'
      - 'schemas/**'
      - 'templates/**'
  release:
    types: [published]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  tests:
    if: |
      ${{ github.event_name == 'pull_request' || github.event_name == 'release' }}
    timeout-minutes: 15
    runs-on: ubuntu-latest
    name: 'Check schemas of registry and templates'

    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
        with:
          egress-policy: audit

      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 0

      - name: Lint registry and templates
        run: |
          npm ci
          npm run lint

      - name: Check registry schema
        uses: GrantBirki/json-yaml-validate@v4.0.0
        with:
          base_dir: registry
          json_schema: schemas/debug-adapters.schema.json
          yaml_as_json: true
          ajv_strict_mode: false
          use_gitignore: false

      - name: Check templates schemas
        uses: GrantBirki/json-yaml-validate@v4.0.0
        with:
          base_dir: templates
          json_schema: schemas/templates.schema.json
          ajv_strict_mode: false
          use_gitignore: false

  release:
    if: ${{ github.event_name == 'release' }}
    needs: [ tests ]
    timeout-minutes: 15
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
        with:
          egress-policy: audit

      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 0

      - name: ZIP files
        run: zip -r debug-adapter-registry.zip registry schemas templates

      - name: TAR files
        run: tar -czf debug-adapter-registry.tar.gz registry schemas templates

      - name: Attach files to release assets
        id: release_assets
        uses: svenstaro/upload-release-action@81c65b7cd4de9b2570615ce3aad67a41de5b1a13 # v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: debug-adapter-registry.*
          tag: ${{ github.ref }}
          overwrite: true
          file_glob: true
